html
	head
		title Mak | SouthSound
		link(rel='stylesheet', href='assets/master.css', attr)
		<script src="https://use.fontawesome.com/525ca23e8d.js"></script>
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(type="text/javascript",src="assets/js/script.js").
			

	body
		audio#song(autoplay='')
			source(src='assets/s.mp3', type='audio/mp3')
			
		header.flex.flex--center.align-center.columns
			.intro.flex.flex--center.align-center.columns
				i.fa.posr.fa-gg-circle(aria-hidden='true')
				.bar
					.fill
			.total-logo
				h1 Mak
				h3 southsound
			.saying
				h1 Aime le son
			.southSound-heading
				h1 southsound vol .1
			.out-now-heading
				h1 <span class="fnd">F.N.D</span> 
				h1 <strong>out now</strong>
		
		
