header
	background: black
	width: 100%
	height: 100vh
	color: white
	.bar
		width: 600px
		height: 2px
		background: #111
		position: relative
		margin-top: 100px
		.fill
			background: white
			position: absolute
			left: 0
			top: 0
			bottom: 0
			animation-name: fill
			animation-fill-mode: forwards
			animation-duration: 7s
	.fa
		color: white
		font-size: 80px
	.total-logo
		opacity: 0
		position: relative
		h1
			text-transform: uppercase
			letter-spacing: 5px
			padding: 0
			margin: 0
			font-size: 60px
			font-family: "Playfair display",sans-serif
			font-weight: 300
		h3
			text-transform: uppercase
			letter-spacing: 10px

			font-size: 10px
			font-weight: 300
			padding-top: 10px
			margin: 0
@keyframes fill
	0%
		right: 100%
	100%
		right: 0
.saying
	display: none
	text-transform: uppercase
	letter-spacing: 10px
	font-weight: 300
	font-family: "playfair display",sans-serif
	border: 2px solid white
	padding: 10px 40px
.southSound-heading
	display: none
	text-transform: uppercase
	letter-spacing: 10px
	font-family: "playfair display",sans-serif
	border: 2px solid white
	padding: 10px 40px
