.main-body
	background: black
	height: 100vh
	color: white
	.lockup
		padding: 30px
		h1
			font-size: 100px
			padding: 0
			margin: 0
			text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177
			letter-spacing: 20px
		p
			text-transform: uppercase
			letter-spacing: 10px
			font-size: 20px
			text-align: center
			font-weight: bold
			color: #fff
		.links
			font-size: 40px
			.fa
				margin-right: 20px
